// 默认字体为 16px
$base-font-size: 100% !default;
$base-line-height: 2;

$font-size-xs: 1.2rem !default;
$font-size-sm: 1.4rem !default;
$font-size-default: 1.6rem !default;
$font-size-lg: 1.8rem !default;
$font-size-xl: 2rem !default;
$font-size-xxl: 2.4rem !default;

$black: #101213;
$light-black: #31383e;
$gray: #a9afb2;
$light-gray: #d3d4d8;
$blue: #018fe5;
$line-color: #e1e1e1;
$orange: #e56c69;
$bg-gray: #f0f0f2;
$bg-yellow: #fdf9cd;

$siyuanheiti: 'siyuanheiti';
